/*
-------------------------
Forms
-------------------------
*/

/* Inputs
------------- */

input,
textarea,
select {
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  border: none;
  background-color: white;

  &:focus {
    border-color: $accent-primary;
    outline: none;
  }

  &::placeholder {
    color: black;
  }
}

button,
.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: $border-radius;
  color: white;
  background-color: black;

  &:hover {
  }

  &:focus {
    outline: none;
  }

  &--primary {
    color: white;
    background-color: $accent-primary;
  }

  &--negative {
    border-color: $dangerous-pink-secondary;
    color: $dangerous-pink;
    background-color: $dangerous-pink-secondary;
  }
}

.errors {
  color: $dangerous-pink;
}
