/*
-------------------------
Typography
-------------------------
*/

/* Basic Settings
------------- */

html {
  font-size: 10px;
}

body {
  font-family: $font-stack-primary;
  font-size: 1.8rem;
  color: black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $accent-primary;

  &:hover {
    color: $accent-primary;
    opacity: 0.8;
  }
}
