/*
-------------------------
Variables
-------------------------
*/

/* Fonts
------------- */

// Uses systemfontstack.com
$font-stack-primary: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

/* Colors
------------- */

$accent-primary: blue;
$light-grey: #e5e7eb;
$dangerous-pink: #cc6273;
$dangerous-pink-secondary: #ffd8d4;

/* Sizing Units
------------- */

$border-radius: 16px;

/* Sizing Units
------------- */

$sizing-xs: 0.2rem;
$sizing-s: 0.5rem;
$sizing-m: 1.25rem;
$sizing-l: 2.5rem;
$sizing-xl: 5rem;

/* Sizes
------------- */

$container-width: 640px;

$small-width: 700px;
$large-width: 980px;
$xlarge-width: 1400px;

/* Breakpoints
------------- */

@mixin small {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$small-width + 1px}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$xlarge-width}) {
    @content;
  }
}
