
/*
-------------------------
Variables 
-------------------------
*/

/* Fonts
------------- */

$font-stack-primary: 'Rubik', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;


/* Colors
------------- */

$friendly-blue: #2aabe4;
$friendly-blue-text: #16506d;
$light-blue: #9dc8e4;
$light-blue-text: #465c6e;
$friendly-yellow: #ffcd24;
$smokey-smoke: #5a5f63;
$smokey-smoke-text: #a9abac;
$good-night-dark: #2d3135;
$good-night-dark-text: #8c8f92;
