/*
-------------------------
Variables
-------------------------
*/

/* Fonts
------------- */

// Uses systemfontstack.com
$font-stack-primary: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

/* Colors
------------- */

$accent-primary: #3461fd;
$accent--dark: #152663;
$accent--light: #dde3f8;
$medium-grey: #555;
$light-grey: #e5e7eb;
$dangerous-pink: #cc6273;
$dangerous-pink-secondary: #ffd8d4;

/* Sizing Units
------------- */

$border-radius: 16px;

/* Sizing Units
------------- */

$sizing-xs: 0.2rem;
$sizing-s: 0.5rem;
$sizing-m: 1.25rem;
$sizing-l: 2.5rem;
$sizing-xl: 5rem;

/* Sizes
------------- */

$container-width: 640px;

$tablet-width: 700px;
$laptop-width: 1100px;
$desktop-width: 1400px;

/* Breakpoints
------------- */

@mixin tablet {
  @media only screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
